<div class="container">
  </br>
  <div class="row">
    <a href="/albums" class="see-all">SEE ALL ALBUMS</a>
    
      </br>
    <div class="card-group">
      
    {{#each data}}
    
       <div class="card">
        <img src="{{albumCover}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{artist}}</h6>
          <p class="text-muted">{{year}}</p>
          <div class="card-footer">
          <a href="/songs/{{albumID}}" class="btn btn-outline-secondary btn-sm">Songs</a>
          {{#if genreID}}
          <a href="/albums?genre={{genreID}}" class="btn btn-secondary btn-sm">{{genre}}</a>
          {{/if}}
          </div>
          </div>
        </div>
      
    {{/each}}
  
  </div>
  </div>
  {{#unless data}}
      <div class="col-md-12 text-center">
        <strong>NO RESULTS</strong>
    </div>
  {{/unless}}
</div>