<div class="container-fluid">
    <br>
    <section class="main col-md-9 float-start">
      <div class="row">
        <div class="index-link">
          <div><span class="index-heading float-start">Featured Albums</span><a href="/albums" class="text-muted float-end">SEE ALL ALBUMS&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
            </a>
          </div>
        </div>
        <br>
        <div class="cards-row">
          <br/><br/>
            {{#each data.albums}}
              <div class="mycard">
                <img src="{{albumCover}}" class="mycard-img" width="200px">
                  <div class="card-body">
                      <div class="line1">{{title}}</div>
                      <div class="line2">{{artist}}</div>
                      <div class="line3">{{year}}</div>
                        <div class="mycard-footer">
                            <a href="/songs/{{albumID}}" class="btn btn-outline-secondary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                </svg> Songs
                            </a>
                              {{#if genre}}
                                <a href="/albums?genre={{genreID}}" class="btn btn-secondary btn-sm">{{genre}}</a>
                              {{/if}}
                          </div>
                    </div>
                </div>            
            {{/each}}

            {{#unless data.albums}}
              <div class="col-md-12 text-center">
                <strong>NO RESULTS</strong>
              </div>
            {{/unless}}
           </br>
        </div>
        
        <br>
      </div>

    
      <div class="row">
         <div class="index-link">
          <div><span class="index-heading float-start">Featured Podcasts</span><a href="/podcasts" class="text-muted float-end">SEE ALL PODCASTS&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
            </a>
          </div>
        </div>
        <br>
      <div class="cards-row">
        <br>
        {{#each data.podcasts}}
          <div class="mycard">
            <img src="{{albumCover}}" class="mycard-img" width="200px">
              <div class="card-body">
                <div class="line1">{{title}}</div>
                <div class="line2">{{artist}}</div>
                <div class="line3">{{year}}</div>
                  <div class="mycard-footer">
                    <a href="/songs/{{albumID}}" class="btn btn-outline-secondary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                      <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                      </svg> Listen
                    </a>
                  </div>
              </div>
          </div>
      {{/each}}
      
      {{#unless data.podcasts}}
        <div class="col-md-12 text-center">
          <strong>NO RESULTS</strong>
        </div>
      {{/unless}}
      <br>
      </div>
      <br>
      </div>
</section>
      <aside class="col-md-3 float-end">
        
        {{#if data.allnews}}
          <div class="news-side"><h5>Music news</h5></div>
            <ul class="list-group">
              {{#each data.allnews}}
                <a href="/news/{{id}}" class="list-group-item list-group-item-action">{{title}}<div class="text-muted brief">{{brief}}</div></a>
              {{/each}}
            </ul>
        {{/if}}
      </aside>
</div>